.main-header {
  position: relative;
}

.header-img {
  height: 300px;
  width: 100%;
  object-fit:cover;
}

.main-title {
  font-family: Poppins,sans-serif!important;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
