@import "~react-image-gallery/styles/scss/image-gallery.scss";

.grid-gallery-image {
  cursor: pointer;
}

.image-gallery-thumbnail {
  max-height: 90px;
}

.main-header {
  position: relative;
}

.header-img {
  height: 300px;
  width: 100%;
  object-fit:cover;
}

.main-title {
  font-family: Poppins,sans-serif!important;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.galleryItem {
  margin-bottom: 15px;
}

.galleryImg {
  width: 290px;
}

.galleryList {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

